#game-container{
	position: absolute;
	overflow:hidden;
	width:320px;
	height:568px;
	left: 0px;
	top: 0px;
}

.gamebg{
	background-image:url("gameBG_iPhone.jpg");
	position: absolute;
	width:320px;
	height:568px;
	left:0px;
	top:0px;
}

.bomb{
	-webkit-animation:bomb 1s linear infinite;
}

.bomb2{
	-webkit-animation:bomb 1s linear infinite .2s;
}

.bombL{
	-webkit-animation:bombL 1s linear infinite;
}

.bombL2{
	-webkit-animation:bombL 1s linear infinite .2s;
}

#rightB1{
	background-image:url("rightB1_iPhone.png");
	position: absolute;
	width:36px;
	height:32px;
	left:205px;
    top:153px;
}

#rightB2{
	background-image:url("rightB2_iPhone.png");
	position: absolute;
	width:33px;
	height:29px;
    left:233px;
    top:161px;
}

#rightB3{
	background-image:url("rightB3_iPhone.png");
	position: absolute;
	width:34px;
	height:29px;
	left:252px;
    top:174px;
}

#leftB1{
	background-image:url("leftB1_iPhone.png");
	position: absolute;
	width:36px;
	height:32px;
	left:81px;
    top:152px;
}

#leftB2{
	background-image:url("leftB2_iPhone.png");
	position: absolute;
	width:33px;
	height:29px;
    left:54px;
    top:157px;
}

#leftB3{
	background-image:url("leftB3_iPhone.png");
	position: absolute;
	width:34px;
	height:29px;
    left:33px;
    top:171px;
}

.rightF1{
	background-image:url("fireR_iPhone.png");
	position: absolute;
	width:89px;
	height:105px;
    left:209px;
    top:75px;
	opacity:0;
	-webkit-transform-origin:20% 90%;
	-webkit-animation:fire 1s linear infinite;
}

.rightF2{
	background-image:url("fireR_iPhone.png");
	position: absolute;
	width:89px;
	height:105px;
    left:236px;
    top:84px;
	opacity:0;
	-webkit-transform-origin:20% 90%;
	-webkit-animation:fire 1s linear infinite .2s;
}

.rightF3{
	background-image:url("fireR_iPhone.png");
	position: absolute;
	width:89px;
	height:105px;
    left:258px;
    top:98px;
	opacity:0;
	-webkit-transform-origin:20% 90%;
	-webkit-animation:fire 1s linear infinite;
}

.leftF1{
	background-image:url("fire_iPhone.png");
	position: absolute;
    width:90px;
    height:105px;
    left:25px;
    top:73px;
	opacity:0;
	-webkit-transform-origin:80% 90%;
	-webkit-animation:fire 1s linear infinite;
}

.leftF2{
	background-image:url("fire_iPhone.png");
	position: absolute;
    width:90px;
    height:105px;
    left:-3px;
    top:81px;
	opacity:0;
	-webkit-transform-origin:80% 90%;
	-webkit-animation:fire 1s linear infinite .2s;
}

.leftF3{
	background-image:url("fire_iPhone.png");
	position: absolute;
    width:90px;
    height:105px;
    left:-28px;
    top:94px;
	opacity:0;
	-webkit-transform-origin:80% 90%;
	-webkit-animation:fire 1s linear infinite;
}

.board{
	background-image:url("board_iPhone.png");
	position: absolute;
	width:309px;
	height:197px;
    left:6px;
    top:178px;
}

.reels{
	position:absolute;
	overflow:hidden;
    width:320px;
    height:153px;
    left: 0px;
    top:208px;
}

#reel1{
	position: absolute;
    width:51px;
    left:28px;
}

#reel2{
	position: absolute;
    width:51px;
    left:80px;
}

#reel3{
	position: absolute;
    width:51px;
    left:132px;
}

#reel4{
	position: absolute;
    width:51px;
    left:184px;
}

#reel5{
	position: absolute;
    width:51px;
    left:236px;
}

.reel-top{
	top: -765px;
}

.reel-spin{
	top: -765px;
	-webkit-animation: reel-spin 2s cubic-bezier(0.46, 0.1, 0.63, 1.35);
}

.image1{
	background-image: url("anker_iPhone.png");
	position: absolute;
	width:51px;
	height:51px;
}

.image2{
	background-image: url("compass_iPhone.png");
	position: absolute;
	width:51px;
	height:51px;
}

.image3{
	background-image: url("gun_iPhone.png");
	position: absolute;
	width:51px;
	height:51px;
}

.image4{
	background-image: url("magnifyGlass_iPhone.png");
	position: absolute;
	width:51px;
	height:51px;
}

.image5{
	background-image: url("map_iPhone.png");
	position: absolute;
	width:51px;
	height:51px;
}

.image6{
	background-image: url("piratesprite_iPhone.png");
	position: absolute;
	width:51px;
	height:51px;
}

.piratemove{
	-webkit-animation: piratemove 1.2s steps(6) alternate 6;
}

.image7{
	background-image: url("ship_iPhone.png");
	position: absolute;
	width:51px;
	height:51px;
}

.image8{
	background-image: url("skull_iPhone.png");
	position: absolute;
	width:51px;
	height:51px;
}

.image9{
	background-image: url("wildsprite_iPhone.png");
	position: absolute;
	width:51px;
	height:51px;
}

.wildmove{
	-webkit-animation: wildmove 1s steps(5) alternate 6;
}

.image10{
	background-image: url("youngPirate_iPhone.png");
	position: absolute;
	width:51px;
	height:51px;
}

.line1{
	background-image:url("line1_iPhone.png");
	position: absolute;
	width:267px;
	height:154px;
    left:27px;
    top:207px;
    opacity:0;
    -webkit-animation: effectblink .8s infinite alternate;
}

.line2{
	background-image:url("line2_iPhone.png");
	position: absolute;
	width:265px;
	height:104px;
    left:27px;
    top:207px;
    opacity:0;
    -webkit-animation: effectblink .8s infinite alternate;
}

#effect1{
	background-image:url("effect1_iPhone.png");
	position: absolute;
	width:288px;
	height:172px;
    left:16px;
    top:198px;
    display:none;
    -webkit-animation: effectblink .5s infinite alternate;
}

#effect2{
	background-image:url("effect2_iPhone.png");
	position: absolute;
	width:280px;
	height:165px;
	left:20px;
    top:199px;
    display:none;
    -webkit-animation: effectblink .5s infinite alternate.6s;
}

#totalNum{
	font-family: 'Arimo', sans-serif;
	font-size:15px;
	position:absolute;
	color:white;
	text-align:center;
	width:70px;
    left:101px;
    top:435px;
}

#wonNum{
	font-family: 'Sansita One', cursive;
	font-size:40px;
	position:absolute;
	color: transparent;
 	background:-webkit-linear-gradient(top, rgba(244,252,255,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%);
    -webkit-background-clip: text;
	text-align:center;
    width:220px;
    left:47px;
    top:265px;
    display:none;
}

#shadow{
	font-family: 'Sansita One', cursive;
	font-size:42px;
	position:absolute;
    color:#001e24;
    text-align:center;
    width:220px;
    left:48px;
    top:267px;
    display:none;
    text-shadow:2px 0px 0px #001e24;
}

.bigwin{
	background-image: url("bigwinsprite_iPhone.png");
	position: absolute;
	width:319px;
	height:122px;
    left:0px;
    top:50px;
    -webkit-animation: bigwinmove 1.5s steps(5) alternate 6;
}

.spin{
	position: absolute;
	width:67px;
	height:62px;
    left:249px;
    top:424px;
}

#wheel{
	background-image:url("spinWheel_iPhone.png");
	position: absolute;
	width:67px;
	height:62px;
    left:0px;
    top:0px;
}

.wheel{
	 -webkit-animation:wheel 2s linear infinite alternate;
}

.wheel2{
	 -webkit-animation:wheel2 .4s linear 3;
}

#text{
	background-image:url("spin_iPhone.png");
	position: absolute;
	width:62px;
	height:21px;
    left:2px;
    top:21px;
}

.text{
	-webkit-animation:blinkspin 1s infinite alternate;
}

.blinkspin{
	background-image:url("blinkspin_iPhone.png");
	position: absolute;
	width:198px;
	height:198px;
    left: 560px;
    top: 825px;
    opacity:0;
    -webkit-animation: blinkspin 1s linear 20;
}

.enlarge{
	-webkit-animation:enlarge .15s linear alternate 3;
}

.sparkles{
	background-image:url("spinSparkles_iPhone.png");
	position: absolute;
	width:90px;
	height:88px;
    left:237px;
    top:410px;
    opacity:0;
    -webkit-animation: sparkles .8s linear;
}

@-webkit-keyframes reel-spin {
	0% {-webkit-transform: translate(0px, 0px);}
	50%, 100% {-webkit-transform: translate(0px, 714px);}	
}

@-webkit-keyframes wheel{
	from {-webkit-transform:rotate(0deg);}
	to {-webkit-transform:rotate(15deg);}	
}

@-webkit-keyframes wheel2 {
	100% {-webkit-transform:rotate(360deg);}
}

@-webkit-keyframes blinkspin {
	from {-webkit-filter:brightness(80%);}
	to {-webkit-filter:brightness(180%);}
}

@-webkit-keyframes enlarge {
	0% {-webkit-transform:scale(.8);}
	100% {-webkit-transform:scale(1.2);}	
}

@-webkit-keyframes sparkles {
	0% {-webkit-transform:scale(0);opacity:0;}
	20% {-webkit-transform:scale(.8);opacity:1;}	
	80% {-webkit-transform:scale(1);opacity:0;}	
}

@-webkit-keyframes wildmove {
	100% {background-position:-255px;}
}

@-webkit-keyframes piratemove {
	100% {background-position:-306px;}
}

@-webkit-keyframes bigwinmove {
	100% {background-position:-1596px;}
}

@-webkit-keyframes effectblink {
	0% {opacity:0;}
	100% {opacity:1;}	
}

@-webkit-keyframes fire {
	0% {-webkit-transform:scale(0); opacity:1;}
	20% {-webkit-transform:scale(1); opacity:1;}	
	50{-webkit-transform:scale(1.3); opacity:0;}	
}

@-webkit-keyframes bomb {
	0% {-webkit-transform:translate(-10px, 15px);}	
	30% {-webkit-transform:translate(0);}	
}

@-webkit-keyframes bombL {
	0% {-webkit-transform:translate(10px, 15px);}	
	30% {-webkit-transform:translate(0);}	
}
